*, *::before, *::after
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
    font-family:'Poppins', sans-serif;
    color:#fff;
    text-align:center;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background:linear-gradient(135deg,#1e90ff 0%,#8a2be2 100%);
}

h1
{
    font-size:7rem; 
    font-weight:800;
    margin-bottom:.5em;
}

h2
{
    font-size:4.25rem; 
    font-weight:700;
    opacity:0;             
    animation:h2anim 5s ease-in-out infinite;
}

@keyframes h2anim{
    0%,10%{opacity:0;}
    20%,80%{opacity:1;} 
    90%,100%{opacity:0;}
}
